* {
	font-family: "comicrelief", "Courier New", Courier, monospace; font-size: 20px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	border-radius: 0; padding: 0; margin: 0;
}

body { font-family: "comicrelief", "Courier New", Courier, monospace; font-size: 20px; }

div, section, header, footer, p { padding: 5px; }

header, footer { background: silver; }
header { border-bottom: 2px solid black; }
footer { border-top: 2px solid black; }

h2 { width: 100%; border-bottom: 2px solid black; margin-bottom: 10px; margin-top: 5px; }

pre, code { font-family: mono; background: white; margin-top: 5px; }

ul, ol { list-style-position: inside; list-style-type: none; }
ul li, ol li { text-indent: 0px; background: whitesmoke; margin-bottom: 5px; padding: 5px; border: 2px solid silver; }
li li { border: none; }
ul ul, ul ol, ol ul, ol ol { margin-left: 20px; }

a, a:link, a:visited { color: black; }
a:hover { color: gray; }

button, input, textarea, select, p { margin-top: 2px; min-width: 100px; }
button { background: gray; color: white; border: none; border: 2px solid black; }
input, textarea, select { background: white; border: 2px solid black; color: black; width: 500px; }
textarea { height: 100px; }