*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Webstorm trash
/public/.idea

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Play Framework
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

# Vagrant
.vagrant

# linux trash
*~
*.tmp.*
*.lock

# run  alias
/run.sh

# js
public/Main.js
public/test/*.js

# secret configuration files
test/PPT/jira-license.key
