# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Webstorm trash
/public/.idea
/app/.idea

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Play Framework
logs
project/project
target
/.idea
/RUNNING_PID
/.settings

# Vagrant
.vagrant

# linux trash
*~
*.tmp.*
*.lock

# run  alias
/run.sh

# secret configuration files
test/integration/PPT/jira-license.key
# Vagrant up cached files
test/integration/PPT/atlassian-jira.bin
test/integration/*/downloads/*
