<div class="main area page admin">
	<div class="operationState">
		<span class="messagebox error" data-ng-if="operationState === ApplicationState.failed">Loading of data failed. Maybe server is not available.</span>
		<span class="messagebox pending" data-ng-if="operationState === ApplicationState.pending">Loading ...</span>
		<span class="messagebox saving" data-ng-if="operationState === ApplicationState.saving">Saving ...</span>
	</div>
	<h2>Administration</h2>
	<p style="padding: 0.5em;">Manage properties, systems and requests.</p>

	<div class="area accordion">
		<h3>Manage Decision Knowledge Systems (DKS)</h3>
		<div class="operationState">
			<span class="messagebox saving" data-ng-if="manageDKSStatus === ApplicationState.saving">Saving ...</span>
			<span class="messagebox success" data-ng-if="manageDKSStatus === ApplicationState.successful">Saved successfully!</span>
			<span class="messagebox error" data-ng-if="manageDKSStatus === ApplicationState.failed">Could not save! Maybe you tried to save empty fields. Please try again, reload the page or file a bug report.</span>
		</div>
		<p class="description">A DKS is the source of all your Problems and Options. It is only read, noting is written to it. In this version of EEPPI only one DKS is supported, however you can change it's URL here.</p>
		<form>
			<div class="formLine" data-columns="4">
				<select data-ng-model="toUpdateDKS" data-ng-options="dks.name for dks in dkss"
					title="Select the DKS you would like to change."></select>

				<input type="text" data-ng-disabled="!toUpdateDKS" name="dksNewName" data-ng-model="toUpdateDKS.name" placeholder="Name"
					data-ng-change="toUpdateDKSChanged()" data-ng-blur="updateDKS(toUpdateDKS)"
					title="DKS name, e.g. 'Corporation DKS'" />
				<input type="text" data-ng-disabled="!toUpdateDKS" name="dksNewUrl" data-ng-model="toUpdateDKS.url" placeholder="URL"
					data-ng-change="toUpdateDKSChanged()" data-ng-blur="updateDKS(toUpdateDKS)"
					title="Url to the DKS, e.g. 'http://dks.corporation.com'" />
			</div>
		</form>
	</div>

	<div class="area accordion">
		<h3>Manage Task Template Properties</h3>
		<div class="operationState">
			<span class="messagebox saving" data-ng-if="managePropertiesStatus === ApplicationState.saving">Saving ...</span>
			<span class="messagebox success" data-ng-if="managePropertiesStatus === ApplicationState.successful">Saved successfully!</span>
			<span class="messagebox error" data-ng-if="managePropertiesStatus === ApplicationState.failed">Could not save! Maybe you tried to save empty fields. Please try again, reload the page or file a bug report.</span>
		</div>
		<p class="description">Task Template Properties are the different properties a Task Template can possess. Task Templates always have a name and you can enrich them here with additional Properties.</p>
		<form>
			<div class="formLine" data-columns="3">
				<label>New Property</label>
				<input type="text" name="newTaskPropertyName" data-ng-model="newTaskPropertyName" placeholder="Name"
					title="Name of the new property, e.g. 'Stakeholder'" />
				<button class="action create" data-ng-disabled="!newTaskPropertyName" data-ng-click="createTaskProperty(newTaskPropertyName); newTaskPropertyName = '';"
					title="Create a new Property">
					<span class="icon big">&#x2b;</span>Add
				</button>
			</div>
			<div class="formLine" data-columns="3">
				<select data-ng-model="toRenameProperty" data-ng-options="taskProperty.name for taskProperty in taskProperties"
					title="Choose the property you would like to change"></select>
				<input data-ng-disabled="!toRenameProperty" data-ng-model="toRenameProperty.name" placeholder="New Name"
					title="Name of the new property, e.g. 'Stakeholder'" data-ng-change="toUpdatePropertyChanged()"
					data-ng-blur="renameTaskProperty(toRenameProperty, propertyNewName)"/>
				<span></span>
			</div>
		</form>

		<span class="infoBox" title="Task Template Properties can't be removed because of its relations to Task Templates and exported tasks. Rename Task Template Properties to reuse it.">
			<span class="icon info"  style="background: steelblue; color: white; border-radius: 2rem; width: 1.2rem; height: 1.1rem; text-align: center;">&#x2139;</span>
			How to remove Task Template Properties?
		</span>
	</div>

	<div class="area accordion">
		<h3>Manage Projects</h3>
		<p class="description">
			You can group your work into different Projects and provide access to these to different people. You could manage them here.
			However, in this version of EEPPI only one Project is supported and it can't be changed.
		</p>
	</div>

	<div class="area accordion">
		<h3>Manage Project Planning Tools (PPT)</h3>
		<p class="description">
			EEPPI supports different PPTs. If you have more than one type of them (e.g. Jira and Redmine) you can configure different PPTs here.
			However, this is only the type not the concrete instance. Information for the concrete instance are configured in <a href="#/register">PPT Accounts</a>.
			However, in this version of EEPPI only one PPT is supported and it can't be changed.
		</p>
	</div>

	<div class="area accordion">
		<h3>Manage Request Templates</h3>
		<div class="operationState">
			<span class="messagebox saving" data-ng-if="manageRequestTemplatesStatus === ApplicationState.saving">Saving ...</span>
			<span class="messagebox success" data-ng-if="manageRequestTemplatesStatus === ApplicationState.successful">Saved successfully!</span>
			<span class="messagebox error" data-ng-if="manageRequestTemplatesStatus === ApplicationState.failed">Could not save! Maybe you tried to save empty fields. Please try again, reload the page or file a bug report.</span>
		</div>
		<div class="description">
			EEPPI works with different Project Planning Tools and Project Planning Tool configurations.
			However, it needs a template to know how to create requests to generate a task in your Project Planning Tool.
			You can define such Request Templates here.
			All Project Planning Tools are supported, if they can create tasks using a web request with <a href="http://en.wikipedia.org/wiki/Basic_access_authentication" target="_blank">HTTP basic authentication</a> and using <a href="http://www.json.org/JSONRequest.html" target="_blank">JSON request</a> format.
			For example <a href="https://www.atlassian.com/software/jira" target="_blank">Jira</a> and <a href="http://www.redmine.org/" target="_blank">Redmine</a> are supported.
			In the <strong>Request Body Template</strong> you should provide a Json to perform the request to the PPT. In Request Body Template you can:
			<ul>
				<li>include variables with <strong>${<span class="light">variable.path.to.property</span>}</strong>.
					&quot;taskTemplate&quot;, &quot;node&quot;, &quot;pptProject&quot; and in post Processors &quot;parentRequestData&quot; can be used.
					You can access their properties with the &quot;.&quot;-operator (e.g. ${taskTemplate.name}).
				</li>
				<li>call Processors with
					<strong>
						$<span class="light">processorName</span>:(<span class="light">parameter.path.to.property</span>,
						<span class="light">anotherParameter</span>, &quot;
						<span class="light">stringParameter</span>&quot;,
						<span class="light">...</span>)$
					</strong>.
					Parameters can be variable paths or <strong>&quot;<span class="light">strings</span>&quot;</strong>.
					Strings may contain anything other than <span class="light">&quot;</span><strong>,
					</strong><span class="light">&quot;, &quot;</span><strong>:(
					</strong><span class="light">&quot; and &quot;</span>
					<strong>)$</strong><span class="light">&quot;</span>.
					However, you can use quote characters (' &quot; « »). If you want to use a comma, escape it like:
					&quot;\,&quot; .
					<br />Be careful using variables inside processors like
					<strong>
						$<span class="light">processorName</span>
						:(<span class="light">parameter.path.to.property</span>,
						<strong>${<span class="light">another.parameter</span>}</strong>)$
					</strong>.
					It is possible to use variables inside processors because variables are rendered before processors.
					But if variable values contain not escaped commas, the processor execution will be broken. So if possible,
					use processor path variables instead of rendered variables:
					<strong>
						$<span class="light">processorName</span>:(<span class="light">parameter.path.to.property</span>,
						<span class="light">another.parameter</span>)$
					</strong> or ensure variable values contain only escaped commas.
				</li>
				<li>call post Processors and post Variable (parentRequestData) almost like Processors with
					<strong>
						$<span style="font-size: larger; font-weight: bolder;">!</span><span class="light">processorName</span>:(<span class="light">parameter.path.to.property</span>,
						<span class="light">anotherParameter</span>, &quot;
						<span class="light">stringParameter</span>&quot;,
						<span class="light">...</span>)$
					</strong> (note the exclamation mark).
					Post Processors are Processors which are only processed, after the parent request was executed and they can include the parent request result.
					However, they are only processed after the parent Tasks request was executed.
					The result of the parent Tasks request can then be accessed with the variable "parentRequestData".
				</li>
			</ul>
		</div>
		<form>
			<div class="formLine" data-columns="7">
				<label>New Request Template</label>

				<input type="text" name="newRequestTemplateName" data-ng-model="newRequestTemplateName" placeholder="Name"
					title="Name of the new request template, e.g. 'Corporation Jira full issue information'" />
				<input type="text" name="newRequestTemplateUrl" data-ng-model="newRequestTemplateUrl" placeholder="Request URL (relative, beginning with a slash)"
					title="Issue creation resource path on your PPT server, e.g. /api/v2/issues/create" />

				<select name="newRequestTemplateProject" data-ng-model="newRequestTemplateProject" data-ng-options="project.name for project in projects"
					title="EEPPI Project"></select>
				<select name="newRequestTemplatePPT" data-ng-model="newRequestTemplatePPT" data-ng-options="projectPlanningTool.name for projectPlanningTool in projectPlanningTools"
					title="Project Planning Tool"></select>

				<textarea name="newRequestTemplateBodyTemplate" data-ng-model="newRequestTemplateBodyTemplate" placeholder="Request Body Template"
					onfocus="this.style.minHeight='15rem';" onblur="this.style.minHeight='inherit';"
					title='JSON request template containing variable markers and processors. E.g.

{
	"fields": {
		"project": {
			"key": "${pptProject}"
		},
		"description": "Attributes:\n$objectToString:(node.attributes, ": ", "\n")$"
	}
}'>
				</textarea>
				<button class="action create" data-ng-disabled="!newRequestTemplateName || !newRequestTemplateUrl || !newRequestTemplateProject || !newRequestTemplatePPT || !newRequestTemplateBodyTemplate"
						data-ng-click="addRequestTemplate(newRequestTemplateName, newRequestTemplateUrl, newRequestTemplateProject, newRequestTemplatePPT, newRequestTemplateBodyTemplate); newRequestTemplateName = ''; newRequestTemplateUrl = ''; newRequestTemplateProject = null; newRequestTemplatePPT = null; newRequestTemplateBodyTemplate = '';"
						title="Create a new Request Template">
					<span class="icon big">&#x2b;</span>Add
				</button>
			</div>
			<div class="formLine" data-columns="7">
				<select data-ng-model="toUpdateRequestTemplate" data-ng-options="requestTemlate.name for requestTemlate in requestTemplates"
					data-ng-change="updateWithCorrectProjectAndPPT(toUpdateRequestTemplate)" title="Request template you would like to change"></select>

				<input data-ng-disabled="!toUpdateRequestTemplate" type="text" name="requestTemplateNewName"
					data-ng-model="toUpdateRequestTemplate.name" placeholder="Name" data-ng-change="toUpdateRequestTemplateChanged()"
					data-ng-blur="updateRequestTemplate(toUpdateRequestTemplate)"
					title="Name of the request template, e.g. 'Corporation Jira full issue information'" />
				<input data-ng-disabled="!toUpdateRequestTemplate" type="text" name="requestTemplateNewUrl" data-ng-model="toUpdateRequestTemplate.url" placeholder="Request URL (relative, beginning with a slash)"
					data-ng-change="toUpdateRequestTemplateChanged()" data-ng-blur="updateRequestTemplate(toUpdateRequestTemplate)"
					title="Issue creation resource path on your PPT server, e.g. /api/v2/issues/create" />

				<select data-ng-disabled="!toUpdateRequestTemplate" data-ng-model="toUpdateRequestTemplate.project" name="requestTemplateNewProject" data-ng-options="project.name for project in projects"
					data-ng-change="toUpdateRequestTemplateChanged()" data-ng-blur="updateRequestTemplate(toUpdateRequestTemplate)"
					title="EEPPI Project"></select>
				<select data-ng-disabled="!toUpdateRequestTemplate" name="requestTemplateNewPPT" data-ng-model="toUpdateRequestTemplate.ppt" data-ng-options="ppt.name for ppt in projectPlanningTools"
					data-ng-change="toUpdateRequestTemplateChanged()" data-ng-blur="updateRequestTemplate(toUpdateRequestTemplate)"
					title="Project Planning Tool"></select>

				<textarea data-ng-disabled="!toUpdateRequestTemplate" name="requestTemplateNewBodyTemplate" data-ng-model="toUpdateRequestTemplate.requestBodyTemplate" placeholder="Request Body Template"
					data-ng-change="toUpdateRequestTemplateChanged()" data-ng-blur="updateRequestTemplate(toUpdateRequestTemplate)"
					onfocus="this.style.minHeight='15rem';" onblur="this.style.minHeight='inherit';"
					title='JSON request template containing variable markers and processors. E.g.

{
	"fields": {
		"project": {
			"key": "${pptProject}"
		},
		"description": "Attributes:\n$objectToString:(node.attributes, ": ", "\n")$"
	}
}'>
				</textarea>

				<button data-ng-disabled="!toUpdateRequestTemplate" class="action remove" data-ng-click="removeRequestTemplate(toUpdateRequestTemplate); toUpdateRequest = null;"
						title="Remove the Request Template">
					<span class="icon big">&minus;</span>Remove
				</button>
			</div>
		</form>
	</div>

	<div class="area accordion">
		<h3>Manage Processors</h3>
		<div class="operationState">
			<span class="messagebox saving" data-ng-if="manageProcessorsStatus === ApplicationState.saving">Saving ...</span>
			<span class="messagebox success" data-ng-if="manageProcessorsStatus === ApplicationState.successful">Saved successfully!</span>
			<span class="messagebox error" data-ng-if="manageProcessorsStatus === ApplicationState.failed">Could not save! Maybe you tried to save empty fields. Please try again, reload the page or file a bug report.</span>
		</div>
		<p class="description">
			Processors are normal JavaScript functions enabling the Request Template to perform complex operations. You can manage them here.
			The code should have the format <strong>function(<span class="light">optionally some parameters</span>){<span class="light">var code = "fancy"; return code;</span>}</strong> and it should return a string.
		</p>
		<form>
			<div class="formLine" data-columns="5">
				<label>New Processor</label>

				<input type="text" name="newProcessorName" data-ng-model="newProcessorName" placeholder="Name"
					title="Name of the new processor, e.g. switchCase" />
				<select data-ng-model="newProcessorProject" name="newProcessorProject" data-ng-options="project.name for project in projects"
					title="EEPPI Project"></select>

				<textarea name="newProcessorCode" data-ng-model="newProcessorCode" placeholder="Code"
					onfocus="this.style.minHeight='15rem';" onblur="this.style.minHeight='inherit';"
					title="Processor procedure, e.g.

function(switchArgument, caseArguments) {
	switch(switchArgument) {
		case 'type':
			return caseArguments[0];
			break;
		case 'name':
			return caseArguments[1];
			break;
		default:
			return '';
	}
}">
				</textarea>
				<button class="action create" data-ng-disabled="!newProcessorName || !newProcessorProject || !newProcessorCode"
					data-ng-click="createProcessor(newProcessorName, newProcessorProject, newProcessorCode); newProcessorName = ''; newProcessorProject = ''; newProcessorCode = '';"
					title="Create a new Processor">
					<span class="icon big">&#x2b;</span>Add
				</button>
			</div>
			<div class="formLine" data-columns="5">
				<select data-ng-model="toUpdateProcessor" data-ng-options="processor.name for processor in processors"
					data-ng-change="updateWithCorrectProjectAndPPT(toUpdateProcessor)" title="Choose the processor you would like to change"></select>

				<input type="text" data-ng-disabled="!toUpdateProcessor" name="processorNewName" data-ng-model="toUpdateProcessor.name" placeholder="Name"
				   data-ng-change="toUpdateProcessorChanged()" data-ng-blur="updateProcessor(toUpdateProcessor)"
					title="Name of the processor, e.g. switchCase" />
				<select data-ng-disabled="!toUpdateProcessor" data-ng-model="toUpdateProcessor.project" name="processorNewProject" data-ng-options="project.name for project in projects"
					data-ng-change="toUpdateProcessorChanged()" data-ng-blur="updateProcessor(toUpdateProcessor)"
					title="EEPPI Project"></select>

				<textarea data-ng-disabled="!toUpdateProcessor" name="processorNewCode" data-ng-model="toUpdateProcessor.code" placeholder="Code"
					data-ng-change="toUpdateProcessorChanged()" data-ng-blur="updateProcessor(toUpdateProcessor)"
					onfocus="this.style.minHeight='15rem';" onblur="this.style.minHeight='inherit';"
					title="Processor procedure, e.g.

function(switchArgument, caseArguments) {
	switch(switchArgument) {
		case 'type':
			return caseArguments[0];
			break;
		case 'name':
			return caseArguments[1];
			break;
		default:
			return '';
	}
}">
				</textarea>
				<button data-ng-disabled="!toUpdateProcessor" class="action remove" data-ng-click="removeProcessor(toUpdateProcessor); toUpdateProcessor = null;"
						title="Remove the Processor">
					<span class="icon big">&minus;</span>Remove
				</button>
			</div>
		</form>
	</div>

	<div>&nbsp;</div>
	<div>&nbsp;</div>
</div>