<div class="main" data-region="center" >
	<div class="area page admin" data-scroll="y">
		<div class="operationState">
			<span class="messagebox error" data-ng-if="operationState === ApplicationState.failed">Loading of data failed. Maybe server is not available.</span>
			<span class="messagebox pending" data-ng-if="operationState === ApplicationState.pending">Loading ...</span>
			<span class="messagebox saving" data-ng-if="operationState === ApplicationState.saving">Saving ...</span>
		</div>
		<h2>Administration</h2>

		<div class="area accordion">
			<h3>Manage Properties</h3>
			<form>
				<div class="formLine" data-columns="3">
					<label>New property</label>
					<input type="text" name="newTaskPropertyName" data-ng-model="newTaskPropertyName" placeholder="name" />
					<button class="action create" data-ng-click="createTaskProperty(newTaskPropertyName); newTaskPropertyName = '';"
							title="Create a new property">
						<span class="icon big">&#x2b;</span>Add
					</button>
				</div>
				<div class="formLine" data-columns="3">
					<select data-ng-model="toRenameProperty" data-ng-options="taskProperty.name for taskProperty in taskProperties" ></select>
					<input data-ng-disabled="!toRenameProperty" data-ng-model="propertyNewName" placeholder="New name" />
					<button data-ng-disabled="!toRenameProperty" class="action update" title="Changes the name of the property"
							data-ng-click="renameTaskProperty(toRenameProperty, propertyNewName); propertyNewName = ''; toRenameProperty = null;">
						<span class="icon">&#x270E;</span>Rename
					</button>
				</div>
			</form>
		</div>

		<div class="area accordion">
			<h3>Manage RequestTemplates</h3>
			<form>
				<div class="formLine" data-columns="6">
					<label>New Request template</label>
					<textarea name="newRequestTemplateBody" data-ng-model="newRequestTemplateBody" placeholder="request body"></textarea>
					<input type="text" name="newRequestTemplateUrl" data-ng-model="newRequestTemplateUrl" placeholder="Request url (relative)" />
					<select data-ng-model="newRequestTemplatePPT" name="newRequestTemplatePPT"
						data-ng-options="projectPlanningTool.name for projectPlanningTool in projectPlanningTools" ></select>
					<button class="action create" data-ng-click="addRequestTemplate(newRequestTemplatePPT, newRequestTemplateUrl, newRequestTemplateBody); newRequestTemplatePPT = null; newRequestTemplateUrl = ''; newRequestTemplateBody = '';"
							title="Create a new request template">
						<span class="icon big">&#x2b;</span>Add
					</button>
				</div>
				<div class="formLine" data-columns="6">
					<select data-ng-model="toUpdateRequest" data-ng-options="requestTemlate.url for requestTemlate in requestTemplates" ></select>
					<textarea data-ng-disabled="!toUpdateRequest" name="requestTemplateNewBody" data-ng-model="toUpdateRequest.requestBody" placeholder="request body"></textarea>
					<input data-ng-disabled="!toUpdateRequest" type="text" name="requestTemplateNewUrl" data-ng-model="toUpdateRequest.url" placeholder="name" />
					<label><span data-ng-if="toUpdateRequest">{{toUpdateRequest.ppt.name}}</span></label>
					<button data-ng-disabled="!toUpdateRequest" class="action update" title="Update request template"
							data-ng-click="updateRequestTemplate(toUpdateRequest); requestTemplateNewName = ''; requestTemplateNewBody = ''; toUpdateRequest = null;">
						<span class="icon">&#x270E;</span>Update
					</button>
					<button data-ng-disabled="!toUpdateRequest" class="action remove" title="Remove request template"
							data-ng-click="removeRequestTemplate(toUpdateRequest); requestTemplateNewName = ''; requestTemplateNewBody = ''; toUpdateRequest = null;">
						<span class="icon big">&minus;</span>Remove
					</button>
				</div>
			</form>
		</div>

		<div class="area accordion">
			<h3>Manage project planning tool (PPT) accounts for the currently logged in user</h3>
			<form>
				<div class="formLine" data-columns="6">
					<label>New PPT account</label>
					<input type="text" name="newPPTAccountUrl" data-ng-model="newPPTAccountUrl" placeholder="PPT url" />
					<input type="text" name="newPPTAccountUsername" data-ng-model="newPPTAccountUsername" placeholder="PPT username" />
					<input type="password" name="newPPTAccountPassword" data-ng-model="newPPTAccountPassword" placeholder="PPT password" />
					<!--<select data-ng-model="newPPTAccountPPT"
							data-ng-options="ppt.name for ppt in ppts" >
					</select>-->

					<button class="action create" data-ng-click="createPPTAccount(newPPTAccountUrl, newPPTAccountUsername, newPPTAccountPassword, 1); newPPTAccountUrl = ''; newPPTAccountUsername = ''; newPPTAccountPassword = '';"
							title="Create a new project planning tool account">
						<span class="icon big">&#x2b;</span>Add
					</button>
				</div>
				<div class="formLine" data-columns="6">
					<select data-ng-model="toUpdatePPTAccount" data-ng-options="pptAccount.pptUsername for pptAccount in pptAccounts"></select>
					<input data-ng-disabled="!toUpdatePPTAccount" type="text" name="toUpdatePPTAccountUrl" data-ng-model="toUpdatePPTAccount.pptUrl" placeholder="PPT url" />
					<input data-ng-disabled="!toUpdatePPTAccount" type="text" name="toUpdatePPTAccountUsername" data-ng-model="toUpdatePPTAccount.pptUsername" placeholder="PPT username" />
					<input data-ng-disabled="!toUpdatePPTAccount" type="password" name="toUpdatePPTAccountPassword" data-ng-model="toUpdatePPTAccount.pptPassword" placeholder="PPT password" />

					<button data-ng-disabled="!toUpdatePPTAccount" class="action update" title="Update project planning tool account"
						data-ng-click="updatePPTAccount(toUpdatePPTAccount); toUpdatePPTAccount = null;">
						<span class="icon">&#x270E;</span>Update
					</button>
					<button data-ng-disabled="!toUpdatePPTAccount" class="action remove" title="Remove project planning tool account"
						data-ng-click="removePPTAccount(toUpdatePPTAccount); toUpdatePPTAccount = null;">
					    <span class="icon big">&minus;</span>Remove
				    </button>
				</div>
			</form>
		</div>

        <div class="area accordion">
            <h3>Manage processors</h3>
            <form>
                <div class="formLine" data-columns="6">
                    <label>New processor</label>
                    <input type="text" name="newProcessorName" data-ng-model="newProcessorName" placeholder="processor" />
                    <select data-ng-model="newProcessorProject" name="newProcessorProject"
                            data-ng-options="projectPlanningTool.name for projectPlanningTool in projectPlanningTools" ></select>
                    <input type="text" name="newProcessorCode" data-ng-model="newProcessorCode" placeholder="code" />
                    <button class="action create" data-ng-click="createProcessor(newProcessorName, newProcessorProject, newProcessorCode); newProcessorName = ''; newProcessorProject = ''; newProcessorCode = '';" title="Create a new processor">
                        <span class="icon big">&#x2b;</span>Add
                    </button>
                </div>
                <div class="formLine" data-columns="6">
                    <select data-ng-model="toUpdateProcessor" data-ng-options="processor.name for processor in processors" data-ng-change="showSelectedProcessor()"></select>

                    <input type="text" data-ng-disabled="!toUpdateProcessor" name="processorNewName" data-ng-model="processorNewName" placeholder="processor" />
                    <select data-ng-disabled="!toUpdateProcessor" data-ng-model="processorNewProject" name="processorNewProject"
                            data-ng-options="projectPlanningTool.name for projectPlanningTool in projectPlanningTools" ></select>
                    <input type="text" data-ng-disabled="!toUpdateProcessor" name="processorNewCode" data-ng-model="processorNewCode" placeholder="code" />

                    <button data-ng-disabled="!toUpdateProcessor" class="action update" title="Update processor"
                            data-ng-click="updateProcessor(toUpdateProcessor, processorNewName, processorNewProject, processorNewCode); toUpdateProcessor = ''; processorNewName = ''; processorNewProject = ''; processorNewCode = ''; toUpdateProcessor = null;">
                        <span class="icon">&#x270E;</span>Update
                    </button>
                    <button data-ng-disabled="!toUpdateProcessor" class="action remove" title="Remove processor"
                            data-ng-click="removeProcessor(toUpdateProcessor); toUpdateProcessor = null;">
                        <span class="icon big">&minus;</span>Remove
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>