<div class="main" data-region="center" data-layout="flow" data-flow-direction="column" data-align="start">
    <form>
        <fieldset>
            <legend>Register</legend>
            <label>username</label><br />
            <input type="text" name="registerUserName" data-ng-model="registerUserName" /><br />
            <label>password</label><br />
            <input type="password" name="registerPassword" data-ng-model="registerPassword" /><br />
            <label>password repeat</label><br />
            <input type="password" name="registerPasswordRepeat" data-ng-model="registerPasswordRepeat" /><br />
            <button data-ng-click="register()">Register</button>
        </fieldset>
    </form>
</div>