<div class="main" data-region="center" >
	<div class="area page" data-scroll="y">
		<div class="operationState">
			<span class="messagebox error" data-ng-if="operationState === ApplicationState.failed">Loading of data failed. Maybe server is not available.</span>
			<span class="messagebox pending" data-ng-if="operationState === ApplicationState.pending">Loading ...</span>
			<span class="messagebox saving" data-ng-if="operationState === ApplicationState.saving">Saving ...</span>
		</div>

		<form class="wizzard">
			<div class="wizzardStep" data-step="DataSelection" data-ng-if="currentWizzardStep == ExportWizzardSteps.ToolSelection">
				<div class="requestTemplateState" data-ng-if="targetPPT">
					<span class="messagebox error" data-ng-if="!currentRequestTemplate">No request template found assigned with this project planning tool. Please create one.</span>
				</div>

				<h2>Target selection</h2>

				<div class="formLine">
					<label>Target system</label>
					<select data-ng-model="targetPPTAccount" data-ng-options="pptAccount.pptUrl for pptAccount in pptAccounts"
						data-ng-change="setTarget(targetPPTAccount)"></select>
				</div>

				<button data-ng-disabled="!targetPPTAccount || !currentRequestTemplate" class="action" data-ng-click="nextStep()">(=>) Select decisions</button>
			</div>

			<div class="wizzardStep" data-step="DataSelection" data-ng-if="currentWizzardStep == ExportWizzardSteps.DataSelection">
				<h2>Decision &amp; option selection</h2>
				<ul data-type="list">
					<li data-ng-repeat="(pkey, decisionGroup) in decisionMappings">
						<dl>
							<dt>Problem</dt>
							<dd>{{decisionGroup.problem.name}} [#{{decisionGroup.problem.id}}]</dd>
							<dt>Decisions</dt>
							<dd>
								<ul>
									<li data-ng-repeat="(dkey,decisionElement) in decisionGroup.decisions">
										{{decisionElement.decision.name}} [#{{decisionElement.decision.id}}]
										<dl>
											<dt>Mapped task templates to transmit</dt>
											<dd>
												<ul>
													<li data-ng-repeat="(mkey, mapping) in decisionElement.mappings">
														<input type="checkbox" data-ng-model="decisionElement.taskTemplatesToExport[mkey]" />&nbsp;
														{{mapping.taskTemplate.name}} [#{{mapping.taskTemplate.id}}]
													</li>
												</ul>
											</dd>
											<dt>Alternatives</dt>
											<dd>
												<ul>
													<li data-ng-repeat="alternative in decisionElement.decision.alternatives">
														{{alternative.name}} [#{{alternative.id}}]
													</li>
												</ul>
											</dd>
										</dl>
									</li>
								</ul>
							</dd>
						</dl>
					</li>
				</ul>

				<button class="action" data-ng-click="nextStep(); processTaskTemplates();">(=>) Transform selected decisions</button>
			</div>

			<div class="wizzardStep" data-step="Transformation" data-ng-if="currentWizzardStep == ExportWizzardSteps.Transformation">
				<h2>Transformation</h2>
				<div data-ng-repeat="exportRequest in exportRequests">
					<h3>{{exportRequest.taskTemplate.name}} ({{exportRequest.decision.name}})</h3>
					<pre>{{exportRequest.requestBody}}</pre>
				</div>

				<button class="action" data-ng-click="transmit()">Transmit to PPT ({{targetPPTAccount.pptUrl}})</button>
			</div>
		</form>

		<!--<form>
			<input type="text" data-ng-model="url" /><br />
			<textarea data-ng-model="data" ></textarea><br />
			<button data-ng-click="render(data)">Render</button>
			<button data-ng-if="output.length > 0" data-ng-click="transmit()">Transmit to PPT</button><br />
			<span data-ng-if="trasmitCount > 0">{{transmitSuccessfullCount}} of {{trasmitCount}} successfull transmitted!</span>
		</form>
		<ul>
			<li data-ng-repeat="decisionTemplates in output">
				<pre data-ng-repeat="decisionTaskTemplate in decisionTemplates">{{decisionTaskTemplate}}</pre><br />
			</ul>
		</ul>-->
	</div>
</div>