/* variables */
.blueGradient {
	background: dodgerblue; background: linear-gradient(dodgerblue, steelblue); color: white;
}


/* general */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0; text-indent: 0; text-align: left; }

html, body { margin: 0; padding: 0; width: 100%; height: 100%; overflow: hidden; }
body { font-family: Arial, Helvetica, sans-serif; }


/* container */
header, footer { .blueGradient; color: white; padding: 0.5rem; }
header { border-bottom: 0.25rem solid black; }

.page { height: 100%; width: 100% }
.area {
	background: aliceblue; padding: 0.5rem; box-shadow: 0 0 0.25rem silver;
	border-radius: 0.5rem; margin: 0.5rem;

	&.column1, &.column2 { width: 30%!important; }
	&.column3 { width: 40%!important; }


	h2 {
		.blueGradient; padding: 0.5rem; margin: 1.5rem -0.5rem 0.5rem -0.5rem;
		&:first-of-type { margin-top: -0.5rem; }
	}
	h3 { margin-top: 1rem; }
	ul li {
		list-style-type: none;
		margin: 0.2rem 0;
	}
}

div.main { padding: 0.5rem; }


/* font / text */
h2, h3 { margin-top: 0.5rem; margin-bottom: 0.25rem; }

ol, ul {
	list-style-position: inside;
	ol, ul  {
		margin-left: 1rem;
	}
}

a {
	&:link, &:hover { color: black; margin-left: 0.1rem; margin-right: 0.1rem; }
	&:hover { color: white; }
}

.icon {
	font-weight: bold; margin-right: 0.5rem;

	&.big { font-size: 1.2rem; }
}

/* action buttons */
button {
	display: inline-block;
	padding: 0.3rem; line-height: 1em; padding-left: 0.5rem; padding-right: 0.5rem;
	background: silver; background: linear-gradient(gainsboro, silver); border: none; color: black;
	border-radius: 0.2rem;
	&:hover { color: white; }

	&.action {
		&.create, &.save {
			background: green; background: linear-gradient(rgb(80,180,130),seagreen); color: white;
			&:hover { 	color: black; }
		}
		&.edit {
			background: orange; background: linear-gradient(#F8B356, #DD852C); color: white;
			&:hover { color: black; }
		}
		&.update {
			background: cornflowerblue; background: linear-gradient(rgb(110,170,220), steelblue);color: white;
			&:hover { color: black; }
		}
		&.remove, &.warning {
			background: maroon; background: linear-gradient(rgb(180,40,40), darkred); color: white;
			&:hover { color: black; }
		}
	}
	&[disabled] {
		background: silver; background: linear-gradient(gainsboro, silver); border: none; color: gray;
		&:hover { border: none; }
	}
}
button + button { margin-left: 0.25rem; }


/* forms */
label { display: inline-block; }
input {
	border-radius: 1rem; padding: 0.25rem 0.5rem; border: none;
	box-shadow: inset 0.1rem 0.1rem 0.2rem #dcdcdc;
	background: whitesmoke; color: #000;
	display: inline-block;

	&[disabled] { background: gainsboro; color: gray; box-shadow: none; }
}
input, textarea {
	&.error { background: peachpuff; color: black; box-shadow: inset 0.1rem 0.1rem 0.2rem darksalmon; }
}
form .status { margin: -0.5rem -0.5rem 0.5rem -0.5rem; }
.formLine {
	margin: 0.25rem 0;
	display: flex; flex-wrap: nowrap; justify-content: spance-between; width: 100%;
	&[data-columns="3"]{
		> :nth-child(+1) { width: 30%; margin-right: 0.2rem; }
		> :nth-child(+2) { width: 50%; margin: 0 0.2rem; }
		> :nth-child(+3) { width: 20%; max-width: 8rem; margin-left: 0.2rem; }
	}
}
select {
	-webkit-appearance: none; -ms-appearance: none; -moz-appearance: none;  appearance: none;
	background-color: silver; background: linear-gradient(gainsboro, silver); border: none; color: black;
	border-radius: 0.2rem; border: none;
	// Icon made by Freepik (href="http://www.freepik.com) from Flaticon (http://www.flaticon.com) is licensed under Creative Commons BY 3.0 (http://creativecommons.org/licenses/by/3.0/)
	//background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAARuAAAEbgHQo7JoAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAB5QTFRF////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhow4rQAAAAl0Uk5TAAwREiowWMPOLoJhMgAAAEhJREFUKFNjYBhCgCUNDgLAAoyVM6FghgFEiThMoBmqB6YEpgCuBKYApgShAKoEoQCiBFkBWAmyApASVAVAJagKgEoUGIYaAADIMSWmfFk62AAAAABJRU5ErkJgggeb100a48247b7100fa12d2df668b370f');
	//background-repeat: no-repeat; background-position: 90% 60%; background-size: 1rem;

	option {
		background: silver; padding: 0.2rem; border: none;
	}
}

form.simpleForm label { width: 10rem; }

fieldset { background: none; padding: 0.5rem 0; border: none;
	legend { font-size: 0.8rem; font-weight: bold; }
}


/* application state */
[data-ng-click] { cursor: pointer; }

li[data-ng-state="selected"] { color: teal; }

.success { background: seagreen; color: white; font-weight: bold; padding: 0.5rem; }
.error { background: maroon; color: white; font-weight: bold; }