@import "../crossBrowser.less";
/**
.------------------------------------------------------------------------.
| data-layout="border"                                                   |
| .--------------------------------------------------------------------. |
| | data-region="north"                                                | |
| +--------------------------------------------------------------------+ |
| | data-region="middle"                                               | |
| | .--------------------.----------------------.--------------------. | |
| | |                    |                      |                    | | |
| | | data-region="west" | data-region="center" | data-region="west" | | |
| | | data-align="?"     | data-align="?"       | data-align="?"     | | |
| | |                    |                      |                    | | |
| | '--------------------'----------------------'--------------------' | |
| +--------------------------------------------------------------------+ |
| | data-region="south"                                                | |
| '--------------------------------------------------------------------' |
'------------------------------------------------------------------------'
*/
[data-layout="border"], [data-layout="border"] * {
	.boxSizing(border-box);
}

[data-layout="border"] {
	width: 100%; 
	.displayFlex;
	.flexDirection(column);
	.justifyContent(space-between);
	
	> [data-region="middle"] { 
		height: 100%;
		.displayFlex;
		.flexDirection(row);
		.justifyContent(space-between);
		
		> [data-region="center"] { 
			width: 100%; 
		}
	}

	[data-region="center"], [data-region="middle"] {
		&[data-align="start"] { .alignItems(flex-start); }
		&[data-align="center"] { .alignItems(center); }
		&[data-align="end"] { .alignItems(flex-end); }
	}

	> [data-region="north"] > * { 
		width: 100%; 
	}
	> [data-region="middle"] {
		> [data-region="west"] > * { height: 100%; }
		> [data-region="center"] > * { width: 100%; height: 100%; }
		> [data-region="east"] > * { height: 100%; }
	}
	> [data-region="south"] > * { 
		width: 100%; 
	}
}