@import "../crossBrowser.less";
/**
.------------------------------------------------------------------------.
| data-layout="border"                                                   |
| .--------------------------------------------------------------------. |
| | data-region="north"                                                | |
| +--------------------------------------------------------------------+ |
| | data-region="middle"                                               | |
| | .--------------------.----------------------.--------------------. | |
| | |                    |                      |                    | | |
| | | data-region="west" | data-region="center" | data-region="east" | | |
| | | data-align="?"     | data-align="?"       | data-align="?"     | | |
| | |                    |                      |                    | | |
| | '--------------------'----------------------'--------------------' | |
| +--------------------------------------------------------------------+ |
| | data-region="south"                                                | |
| '--------------------------------------------------------------------' |
'------------------------------------------------------------------------'
*/
[data-layout="border"], [data-layout="border"] * {
	.boxSizing(border-box);
}

[data-layout="border"] {
	.displayFlex;
	.flexDirection(column);
	.justifyContent(space-between);

	> [data-region] { width: 100%; -webkit-flex-grow: 1; -webkit-flex-shrink: 1; } //north/middle/south
	> [data-region="middle"], > [data-region="middle"] > [data-region="center"] {
		flex-grow: 1;
		flex-shrink: 1;
		box-flex: 1;
		-webkit-box-flex: 1;
		-webkit-flex-grow: 100;
		-webkit-flex-shrink: 100;
		-webkit-align-items: stretch;
	}
	> [data-region="middle"] {
		.displayFlex;
		.flexDirection(row);
		.justifyContent(space-between);

		> [data-region="center"] { overflow-y: auto; width: 100%; }
		> [data-region] { height: 100%; } //west/center/east
	}

	[data-region="center"], [data-region="middle"] {
		&[data-align="start"] { .alignItems(flex-start); }
		&[data-align="center"] { .alignItems(center); }
		&[data-align="end"] { .alignItems(flex-end); }
	}

}
