@import "../crossBrowser.less";
/**
.------------------------------------------------------------------------.
| data-layout="border"                                                   |
| .--------------------------------------------------------------------. |
| | data-region="north"                                                | |
| +--------------------------------------------------------------------+ |
| | data-region="middle"                                               | |
| | .--------------------.----------------------.--------------------. | |
| | |                    |                      |                    | | |
| | | data-region="west" | data-region="center" | data-region="east" | | |
| | | data-align="?"     | data-align="?"       | data-align="?"     | | |
| | |                    |                      |                    | | |
| | '--------------------'----------------------'--------------------' | |
| +--------------------------------------------------------------------+ |
| | data-region="south"                                                | |
| '--------------------------------------------------------------------' |
'------------------------------------------------------------------------'
*/
[data-layout="border"], [data-layout="border"] * {
	.boxSizing(border-box);
}

[data-layout="border"] {
	.displayFlex;
	.flexDirection(column);
	.justifyContent(space-between);

	> [data-region] { width: 100%; } //north/middle/south
	> [data-region="middle"] {
		flex-grow: 1; flex-shrink: 1; overflow-y: scroll; -webkit-box-flex: 1;

		.displayFlex;
		.flexDirection(row);
		.justifyContent(space-between);

		> [data-region] { height: 100%; } //west/center/east
		> [data-region="center"] { flex-grow: 1;  flex-shrink: 1; overflow-x: scroll; }
	}

	[data-region="center"], [data-region="middle"] {
		&[data-align="start"] { .alignItems(flex-start); }
		&[data-align="center"] { .alignItems(center); }
		&[data-align="end"] { .alignItems(flex-end); }
	}

}